.nav {
    display: inline;
}
#nav1 {
    
    background-color: black;
    color: whitesmoke;
    padding: 15px;
}
#n1 {
    padding-right: 720px;
}
#n2 {
    padding-right: 20px;
}
#n3 {
    padding-right: 20px;
}
#n4 {
    padding-right: 20px;
}
#n5 {
    padding-right: ;
}