.nav {
    display: inline;
}
#nav1 {
    position: sticky;
    background-color: black;
    color: whitesmoke;
    padding: 15px;
    margin: 0;
}
#n1 {
    padding-right: 720px;
}
#n2 {
    padding-right: 15px;
}
#n3 {
    padding-right: 15px;
}
#n4 {
    padding-right: 15px;
}
#sec1{
    width: 50%;
    margin-left: 350px;
    margin-top: 30px;
    margin-bottom: 35px;
    border: 2px solid rgb(49, 45, 39);
    padding: 15px;
    background-color: white;
}
#sec2 {
    width: 50%;
    margin-left: 350px;
    margin-bottom: 40px;
    border: 2px solid rgb(49, 45, 39);
    padding: 15px;
    background-color: white;
}
#body1 {
    background-color: rgb(236, 234, 229);
}
#btn {
    width: 100%;
    margin-top: 15px;
    padding: 8px 300px;
    background-color: black;
    color: white;
    border: 2px solid black;
    border-radius: 5px;
}
.ab1 {
    width: 97%;
    margin: 5px 0;
    padding: 5px;
}
#tab1 {
    width: 100%;
    border: 2px solid grey;
}

